<!doctype html>
<html lang="en">

<head>

    {% load static %}


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Prixima BS5 Template</title>
</head>

    <!-- BOTTOM NAV -->
    
    <body>
        
    </body>
    <nav class="navbar navbar-expand-lg  bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Tornexs<span class="dot">!</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-brand ms-lg-3" href="{% url 'Equipos' %}">Equipos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-brand ms-lg-3" href="{% url 'Torneos' %}">Torneos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-brand ms-lg-3" href="{% url 'Juegos' %}">Juegos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             
            </div>
        </div>
    </nav>
    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h6 class="text-white text-uppercase">Todo juego tiene un solo Nº1</h6>
                        <h1 class="display-3 my-4">Crea , busca <br />experimenta</h1>
                        <a href="{% url 'Busqueda_Juego' %}" class="btn btn-brand">BUSCAR JUEGO</a>
                        <a href="{% url 'Juegos' %}#" class="btn btn-outline-light ms-3">AGREGAR JUEGO</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 text-white">
                        <h6 class="text-white text-uppercase">Busca o crea tu propio torneo</h6>
                        <h1 class="display-3 my-4">crea los mejores cuerdos <br /></h1>
                        <a href="{% url 'Buscar' %}" class="btn btn-brand">BUSCAR</a>
                        <a href="#" class="btn btn-brand">CREAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% block ContenidoNuevo %}

    {% endblock  %}


    <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <p>----------------------------------------------------------------</p>
                        <h4 class="navbar-brand">CREADORES </h4>
                        <h4 class="navbar-brand">Nahuel Nogueira </h4>
                        <h1 class="navbar-brand">Matias rodriguez </h1>
                        <h1 class="navbar-brand">Mateo Becco </h1>
                        <p>----------------------------------------------------------------</p>
                        <div class="col-auto social-icons">
                            <a href="#"><i class='bx bxl-facebook'></i></a>
                            <a href="#"><i class='bx bxl-twitter'></i></a>
                            <a href="#"><i class='bx bxl-instagram'></i></a>
                            <a href="#"><i class='bx bxl-pinterest'></i></a>
                        </div>
                        <div class="col-auto conditions-section">
                            <a href="#">texto1</a>
                            <a href="#">texto2</a>
                            <a href="#">texto3</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>